<div class="page-auth">
  <div class="main-body">
    <div class="card card-white">
      <div class="card-content">
        <div class="logo">
          <a>Reset</a>
        </div>

        <form name="material_login_form2" class="form-validation">
          <fieldset>
            <mat-input-container class="full-width no-margin-bottom">
              <input required matInput placeholder="Verification Code" type="text" name="code" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
            </mat-input-container>

            <mat-input-container class="full-width no-margin-bottom">
              <input required matInput placeholder=" New Password" type="password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
            </mat-input-container>
            
            <div class="divider divider-md"></div>
            <button mat-raised-button type="submit" (click)="onNext()" color="primary" class="float-right">Reset Password</button>
          </fieldset>
        </form>

        <div class="additional-info">
          <a [routerLink]="['/extra/login']">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>